body {
    font-family: 'Yatra One', cursive !important; 
}

.jumbotron {
    background-image: url("../img/burger.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
}

.jumbotron > h1 {
    font-family: 'Yatra One', cursive;
}

.panelheading {
    font-family: 'Montserrat', sans-serif;
}

#newburger {
    border-radius: 5px;
}


#color-override {
    color: #fff;
    text-shadow: 0px 0px 20px black;
    font-family: 'Yatra One', cursive;
}

#lefthead {
    background-color: #5cb85c;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

#eatbutton, #trashbutton {
    float: right;
}

#righthead {
    background-color: #f0ad4e;
    color: white;
    text-align: center;
    font-size: 1.2em;
}